{% extends "base.html" %}

{% block titulo %}
Nuevo Producto Perecible
{% endblock %}

{% block content %}

<a href="{{ url_for('inicio') }}"
   class="btn btn-outline-secondary mb-3">

    ← Volver al catálogo

</a>

<div class="card">

    <div class="card-body">

        <h2 class="mb-4">
            🍓 Nuevo Producto Perecible
        </h2>

        <form method="POST" enctype="multipart/form-data">

            <div class="mb-3">

                <label class="form-label">
                    Código
                </label>

                <input type="text"
                       class="form-control"
                       name="codigo"
                       required>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Nombre
                </label>

                <input type="text"
                       class="form-control"
                       name="nombre"
                       required>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Precio base
                </label>

                <input type="number"
                       class="form-control"
                       name="precio_base"
                       step="0.01"
                       min="0"
                       required>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Stock
                </label>

                <input type="number"
                       class="form-control"
                       name="stock"
                       min="0"
                       required>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Días para vencer
                </label>

                <input type="number"
                       class="form-control"
                       name="dias_para_vencer"
                       min="0"
                       required>

            </div>

            <div class="mb-3">

                <label for="imagen"
                       class="form-label">

                    Imagen del producto

                </label>

                <input type="file"
                       class="form-control"
                       id="imagen"
                       name="imagen"
                       accept=".png,.jpg,.jpeg,.webp">

            </div>

            <button type="submit"
                    class="btn btn-primary">

                Guardar producto

            </button>

            <a href="{{ url_for('inicio') }}"
               class="btn btn-secondary">

                Cancelar

            </a>

        </form>

    </div>

</div>

{% endblock %}